.hero {
  height: 100vh;
  background: url("/assets/Universitas Mercu Buana.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.hero-content h2 {
  font-size: 5rem;
  font-weight: bold;
}

.hero-content p {
  margin-top: 1rem;
  font-size: 2rem;
  color: #fcd6d4;
}
